# Database Configurations
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_NAME=
DB_PASSWORD=

# Token validity duration in days
TOKEN_VALIDITY_DAYS=7

# Gemini / LangChain chat
GOOGLE_API_KEY=
ACCESS_PAST_MESSAGES_COUNT=5


BACKEND_URL=http://127.0.0.1:8000
